[app]
host={host name e.g. eremindmoko.com}

[gmail]
host=smtp.gmail.com:587
sender={Google email address}@gmail.com
username={Google email address}@gmail.com
password={password}

[fcm]
server_key={fcm_server_key}